{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>

    <turbo-frame id="task-info" target="_top">
        {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}
    </turbo-frame>

    <a href="{{ path('app_task_index') }}">back to list</a>
{% endblock %}
