{% extends 'base.html.twig' %}

{% block title %}Hello Symfony UX!{% endblock %}

{% block body %}

<div class="">
    <h1>Symfony UX</h1>
    <ul>
        <li><a href="{{ path('app_person_index') }}">Persons CRUD - <b>Stimulus Controller</b></a></li>
        <li><a href="{{ path('app_task_index') }}">Tasks CRUD - <b>Turbo (Hotwire)</b></a></li>
    </ul>
</div>
    <hr />
    <div class="row">
        <div class="col">
            <twig:TaskOverviewComponent />
        </div>
        <div class="col">
            <twig:PersonsOverviewComponent />
        </div>
    </div>
{% endblock %}
